@charset "utf-8";

/*全体*/
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
    //margin: 10%;
    //background-color: #000
}


/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th, td {
    border: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}
#prev {
    float: left;
}
#current {
    color: #fff;
    background-color: #B78D4A;
     border: 1px solid #B78D4A;
      border-radius: 4px;//角を丸くする
    font-size: 5rem;
    padding: 0.1rem 1rem;
    margin: 1rem 0;
}
#current-button button:hover {
    background-color: #D4BB92;
    border-color: #D4BB92;

  plan {
    color: #fff;
    background-color: #B78D4A;
     border: 1px solid #B78D4A;
      border-radius: 4px;//角を丸くする
    font-size: 5rem;
    padding: 0.1rem 1rem;
    margin: 1rem 0;

#plan-button button:hover {
    background-color: #D4BBff;
    border-color: #D4BBff;

}
